<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.donghun2.dao.CalculatedValueMapper">
	<sql id="whereSql">where s.scode=#{scode}</sql>
	<resultMap type="CalculatedValue" id="CalculatedValueResult">
		<id property="scode" column="scode"/>
		<result property="unitprice" column="unitprice"/>
		<result property="sellprice" column="sellprice"/>
		<result property="disprice" column="disprice"/>
		<result property="marginprice" column="marginprice"/>
		<result property="marginpct" column="marginpct"/>
		<association property="employee" resultMap="kr.or.dgit.donghun2.dao.EmployeeMapper.EmployeeResult"/>
		<association property="customer" resultMap="kr.or.dgit.donghun2.dao.CustomerMapper.CustomerResult"/>
		<association property="product" resultMap="kr.or.dgit.donghun2.dao.ProductMapper.ProductResult"/>
		<association property="sellinfo" resultMap="kr.or.dgit.donghun2.dao.SellInfoMapper.SellInfoResult"/>		
	</resultMap>
	
	<select id="vw_InfoByCustomer" resultMap="CalculatedValueResult">
	select saledate, p.code , p.name , quantity, sellprice, disprice, marginprice, marginpct
	from vw_calculate_sellInfo vw 
	join sellinfo s 
	on vw.scode= s.scode 
	join product p 
	on s.pcode = p.code
	<!-- 	<include refid="whereSql"/> -->
	order by saledate desc
	</select>
	
	<select id="vw_InfoByProduct" resultMap="CalculatedValueResult">
	select c.code, c.name, quantity, sellprice, disprice, marginprice, marginpct
	from vw_calculate_sellInfo vw 
	join sellinfo s 
	on vw.scode= s.scode 
	join customer c 
	on s.ccode = c.code
		<!-- 	<include refid="whereSql"/> -->
	group by c.code
	order by ccode asc
	</select>

	<select id="vw_InfoByEmployee" resultMap="CalculatedValueResult">
	select e.code , e.name , sellprice, marginprice, marginpct
	from vw_calculate_sellInfo vw 
	join sellinfo s 
	on vw.scode= s.scode 
	join employee e 
	on s.ecode = e.code
		<!-- 	<include refid="whereSql"/> -->
	order by ecode asc
	</select>

 
	<select id="selectCalculatedValueByAll" resultMap="CalculatedValueResult">
		SELECT scode, unitprice, sellprice, disprice, marginprice, marginPct
		from vw_calculate_sellInfo
	</select>
	
	<select id="selectCalculatedValueByNo" parameterType="CalculatedValue" resultMap="CalculatedValueResult">
		SELECT scode, unitprice, sellprice, disprice, marginprice, marginPct
		from vw_calculate_sellInfo 
		where scode= #{scode}
	</select>

</mapper>