<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.donghun2.dao.CustomerMapper">
		<resultMap type="Customer" id="CustomerResult">
			<result property="code" column="code"/>
			<result property="name" column="name"/>
			<result property="grade" column="grade"/>
			<association property="cGrade" resultMap="kr.or.dgit.donghun2.dao.CgradeMapper.CgradeResult"/>
		</resultMap>



	<select id="selectDiscnt" parameterType="Customer" resultMap="CustomerResult">
		select dispct from cgrade cg join customer c 
		on cg.grade = c.grade 
		where code = #{code}; 
	</select>

	<insert parameterType="Customer" id="insertCustomer"> insert into customer(code, name, grade,isexist) values(#{code},#{name},#{grade},true) </insert>
	
	<select id="selectCustomerByAll" resultType="Customer"> select code, name, grade from customer </select>
	
	
	<update parameterType="Customer" id="updateCustomer">
		update customer 
	<set>
	
	<if test="code !=null">code=#{code},</if>
	
	<if test="code !=null">name=#{name},</if>
	
	<if test="code !=null">grade=#{grade}</if>
	
	</set>
	where code = #{code} 
	</update>
	
	<update parameterType="Customer" id="deleteCustomer"> 
	update customer 
	set isexist = false 
	where code=#{code} 
	</update>
	
	<select id="selectCustomerTrue" parameterType="Customer" resultType="Customer">
		select code, name, grade from customer where isexist=#{isexist}
	</select>
	
	<select parameterType="Customer" id="selectCustomerByNo" resultType="Customer"> select code, name, grade from customer where code=#{code}; </select>

</mapper>

