<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.donghun2.dao.EmployeeMapper">

	<resultMap type="Employee" id="EmployeeResult">
		<id property="code" column="code"/>
		<result property="name" column="name"/>		
		<result property="grade" column="grade"/>
		<association property="eGrade" resultMap="kr.or.dgit.donghun2.dao.EgradeMapper.EgradeResult"/>
	</resultMap>

	<select id="selectDiscnt" parameterType="Employee" resultMap="EmployeeResult">
		select dispct from egrade eg join employee e
		on eg.grade = e.grade
		where code=#{code}
	</select>


	<insert parameterType="Employee" id="insertEmployee"> insert into Employee(code, name, grade, isexist) values(#{code},#{name},#{grade},true) </insert>
	
	<select id="selectEmployeeByAll" resultType="Employee"> select code, name, grade,isexist from Employee </select>
	
	
	<update parameterType="Employee" id="updateEmployee">
		update Employee 
	<set>
	
	<if test="code !=null">code=#{code},</if>
	
	<if test="code !=null">name=#{name},</if>
	
	<if test="code !=null">grade=#{grade}</if>
	
	</set>
	where code = #{code} 
	</update>
	
	<update parameterType="Employee" id="deleteEmployee"> 
	update Employee 
	set isexist = false
	where code=#{code} </update>
	
	<select parameterType="Employee" id="selectEmployeeByNo" resultType="Employee"> select code, name, grade,isexist from Employee where code=#{code} </select>

</mapper>

