<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.donghun2.dao.ProductMapper">
	
	 	<resultMap type="Product" id="ProductResult">
		<id property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="salePrice" column="saleprice"/>
		<result property="origiPrice" column="origiprice"/>
		<result property="isexist" column="isexist"/>
		</resultMap>
	<sql id="selectSql">SELECT code,name,salePrice,origiPrice FROM Product </sql>
	<sql id="selectSqlForSellInfo">SELECT code,name,salePrice FROM Product </sql>
	<sql id="whereSql"><where><if test="code !=null">code = #{code}</if></where></sql>
	
	<select id="selectProductByAll" resultType="Product">
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertProduct" parameterType="Product" >
      insert into Product (code,name,saleprice,origiprice,isexist)
      values (#{code},#{name},#{salePrice},#{origiPrice},true)
   	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE Product
		<set>
			<if test="name != null">
				name = #{name},	</if>   
			<if test="salePrice != null">
				saleprice = #{salePrice},	</if> 
			<if test="origiPrice != null">
				origiprice = #{origiPrice},	</if> 
		</set>
		<include refid="whereSql"></include>
	</update>
 	<delete id="deleteProduct" parameterType="Product">
		delete from Product
		<include refid="whereSql"/>
	</delete> 
 	<select id="selectProductByNo" parameterType="Product" resultType="Product"> 
		<include refid="selectSql"></include>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectProductByNoForSellInfo" parameterType="Product" resultType="Product"> 
		<include refid="selectSqlForSellInfo"></include>
		<include refid="whereSql"/>
	</select> 

</mapper>